services:
  workspace:
    build: 
      context: workspace
      args:
        - PUID=${USER_ID}
        - PGID=${GROUP_ID}
        - TZ=${WORKSPACE_TIMEZONE}
    ports:
      - "${SSH_PORT}:22"
    volumes:
      - ../public:/var/www/html
  nginx:
    build: 
      context: nginx
      args:
        - TZ=${WORKSPACE_TIMEZONE}
    ports:
      - "${NGINX_PORT}:80"
    volumes:
      - ../public:/var/www/html
      - ./.data/logs/nginx:/var/log/nginx
    depends_on:
      - workspace
  mysql:
    build: 
      context: mysql
      args:
        - TZ=${MYSQL_TIMEZONE}
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
    ports:
      - "${MYSQL_PORT}:3306"
    volumes:
      - ./.data/mysql/:/var/lib/mysql
      - ./mysql/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d